.counter {
    font-size: 2em;
    font-family: 'PT Mono', monospace;
}

.shoe-title {
    font-family: 'Playfair Display', serif;
}

/* .shoe-description {
    font-family: 'Roboto', sans-serif;
} */
